<body class="hold-transition login-page">
<div class="login-box">
	<div class="login-logo"></div>
	<div class="login-box-body">
		<p class="login-box-msg">Merci de vous connecter</p>
		<form action="index.php" method="post">
			<div class="form-group has-feedback">
				<input class="form-control" name="login" placeholder="Email">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input name="password" type="password" class="form-control" placeholder="Password">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
			<a href="createaccount.php">Créer un compte</a>
		</form>
	</div>
</div>
</body>